./data/model/**
ToDo.md
# Created by https://www.toptal.com/developers/gitignore/api/jupyternotebooks,visualstudiocode,archlinuxpackages
# Edit at https://www.toptal.com/developers/gitignore?templates=jupyternotebooks,visualstudiocode,archlinuxpackages

### ArchLinuxPackages ###
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.toptal.com/developers/gitignore/api/jupyternotebooks,visualstudiocode,archlinuxpackages

# Created by https://www.toptal.com/developers/gitignore/api/libreoffice
# Edit at https://www.toptal.com/developers/gitignore?templates=libreoffice

### LibreOffice ###
# LibreOffice locks
.~lock.*#

# End of https://www.toptal.com/developers/gitignore/api/libreoffice
